'''

@Author: Jayesh Patil

@Date: 2024-08-30

@Last Modified by: Jayesh Patil

@Title: Pandas Programs 

'''

In [1]:
import numpy as np
import pandas as pd

1.Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [34]:
def one_dimensional_arr(data):
    """
        Description:
            Convert a list into a one-dimensional pandas Series.

        Parameters:
            A list of numeric values.

        Returns:
            A pandas Series representing the one-dimensional array.
    """
    return pd.Series(data)

def main():
    """
    Main function to demonstrate the creation of a one-dimensional array using pandas Series.
    """
    data = [23, 34, 56, 77]
    one_d = one_dimensional_arr(data)
    print("The one-dimensional Array:\n", one_d)

if __name__ == "__main__":
    main()

The one-dimensional Array:
 0    23
1    34
2    56
3    77
dtype: int64

2.Write a Python program to convert a Panda module Series to Python list and it's type.

In [35]:
def convert_to_list(data):
    """
        Description:
            Convert a pandas Series into a Python list.

        Parameters:
            data (pd.Series): A pandas Series containing numeric values.

        Returns:
            list: A list of values extracted from the pandas Series.
    """
    return data.tolist()

def main():
  
    data = pd.Series([10, 20, 30, 40, 50])
    print("The given series data:", data)
    list_data = convert_to_list(data)
    print("The converted list:", list_data)

if __name__ == "__main__":
    main()

The given series data: 0    10
1    20
2    30
3    40
4    50
dtype: int64
The converted list: [10, 20, 30, 40, 50]

3.Write a Python program to add, subtract, multiple and divide two Pandas Series

In [36]:
import pandas as pd

def arithmetic_operation(data1, data2):
    """
        Description:
            Perform basic arithmetic operations (addition, subtraction, multiplication, and division) between two pandas Series.

        Parameters:
            data1 (pd.Series): The first pandas Series containing numeric values.
            data2 (pd.Series): The second pandas Series containing numeric values.

        Returns:
            tuple: A tuple containing four pandas Series corresponding to the addition, subtraction,multiplication, and division of the two input Series.
    """
    addition = data1 + data2
    subtraction = data1 - data2
    multiplication = data1 * data2
    division = data1 / data2
    return addition, subtraction, multiplication, division

def main():
    
    data1 = pd.Series([2, 4, 6, 8, 10])
    data2 = pd.Series([1, 3, 5, 7, 9])
    print(f"The Given Series are:\n{data1}\nand\n{data2}")  
    
    added_series, subtracted_series, multiplied_series, divided_series = arithmetic_operation(data1, data2)
    
    print("Addition:\n", added_series)
    print("Subtraction:\n", subtracted_series)
    print("Multiplication:\n", multiplied_series)
    print("Division:\n", divided_series)

if __name__ == "__main__":
    main()

The Given Series are:
0     2
1     4
2     6
3     8
4    10
dtype: int64
and
0    1
1    3
2    5
3    7
4    9
dtype: int64
Addition:
 0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction:
 0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication:
 0     2
1    12
2    30
3    56
4    90
dtype: int64
Division:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4.Python program to get the powers of an array values element-wise.

In [37]:
def power_of_arr(data1):
    """
        Description:
            Calculate the cube of each element in the given NumPy array.

        Parameters:
            data1 (np.ndarray): A NumPy array of numeric values.

        Returns:
            A NumPy array where each element is raised to the power of 3.
    """
    return np.power(data1, 3)

def main():
    
    data1 = np.array([0, 1, 2, 3, 4, 5, 6])
    result = power_of_arr(data1)
    print("The power of the given array:", result)

if __name__ == "__main__":
    main()

The power of the given array: [  0   1   8  27  64 125 216]

5.Python program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [38]:
def create_exam_dataframe(exam_data, labels):
    """
        Description:
            Create a DataFrame with given data and labels.

        Parameters:
            exam_data (dict): A dictionary containing the exam data.
            labels (list): A list of labels for the rows of the DataFrame.
        Returns:
            pd.DataFrame: A DataFrame containing the provided data and labels.
    """
    # Create the DataFrame
    df = pd.DataFrame(exam_data, index=labels)

    return df

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = create_exam_dataframe(exam_data, labels)

    print("DataFrame:")
    print(df)

if __name__ == "__main__":
    main()

DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

6.Python program to display a summary of the basic information about a specified Data Frame and its data.

In [39]:
def create_dataframe(exam_data, labels):
    """
        Description:
            Create a DataFrame with given data and labels.

        Parameters:
            exam_data (dict): A dictionary containing the exam data.
            labels (list): A list of labels for the rows of the DataFrame.

        Returns:
            pd.DataFrame: A DataFrame containing the provided data and labels.
    """
    return pd.DataFrame(exam_data, index=labels)

def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = create_dataframe(exam_data, labels)
    print("DataFrame Info:")
    print(df.info())
    print("\nDescriptive Statistics:")
    print(df.describe(include='all'))

if __name__ == "__main__":
    main()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

Descriptive Statistics:
             name      score   attempts qualify
count          10   8.000000  10.000000      10
unique         10        NaN        NaN       2
top     Anastasia        NaN        NaN     yes
freq            1        NaN        NaN       5
mean          NaN  13.562500   1.900000     NaN
std           NaN   4.693746   0.875595     NaN
min           NaN   8.000000   1.000000     NaN
25%           NaN   9.000000   1.000000     NaN
50%           NaN  13.500000   2.000000     NaN
75%           NaN  17.125000   2.750000     NaN
max           NaN  20.000000   3.000000     NaN

7.A Python program to get the first 3 rows of a given DataFrame.

In [15]:
def create_dataframe(exam_data, labels):
    """
        Description:
            Create a DataFrame with given data and labels.

        Parameters:
            exam_data (dict): A dictionary containing the exam data.
            labels (list): A list of labels for the rows of the DataFrame.

        Returns:
            pd.DataFrame: A DataFrame containing the provided data and labels.
    """
    return pd.DataFrame(exam_data, index=labels)

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = create_dataframe(exam_data, labels)

    print("First 3 rows of the DataFrame:")
    print(df.head(3))

if __name__ == "__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

8.Python program to select the 'name' and 'score' columns from the following DataFrame.

In [11]:
def select_name_and_score(df):
    """
        Description:
            Selects the 'name' and 'score' columns from the given DataFrame.

        Parameters:
            df : The DataFrame containing the data with at least 'name' and 'score' columns.

        Returns:
            A DataFrame containing only the 'name' and 'score' columns from the original DataFrame.
    """
    return df[["name", "score"]]

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    selected_columns = select_name_and_score(df)

    print(selected_columns)

if __name__ == "__main__":
    main()

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

9.Python program to select the specified columns and rows from a given data frame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

In [12]:
import pandas as pd
import numpy as np

def select_specific_rows_and_columns(df):
    """
        Description:
            Selects the 'name' and 'score' columns from the specified rows in the DataFrame.

        Parameters:
            df : The DataFrame containing the data.

    Returns:
            pd.DataFrame: A DataFrame containing the 'name' and 'score' columns from rows 1, 3, 5, and 6.
    """
    return df.loc[df.index[[1, 3, 5, 6]], ["name", "score"]]

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    selected_data = select_specific_rows_and_columns(df)

    print(selected_data)

if __name__ == "__main__":
    main()

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

10.Write a Python program to select the rows where the number of attempts in the
examination is greater than 2.

In [26]:
def select_rows_with_attempts_greater_than_two(df):
    """
        Description:
            Selects rows from the DataFrame where the number of attempts is greater than 2.

        Parameters:
            df: The DataFrame containing the data.

    Returns:
            pd.DataFrame: A DataFrame containing only the rows where the 'attempts' column value is greater than 2.
    """
    return df[df['attempts'] > 2]

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    selected_rows = select_rows_with_attempts_greater_than_two(df)

    print(selected_rows)

if __name__ == "__main__":
    main()

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

11.Python program to count the number of rows and columns of a DataFrame.

In [13]:
def count_rows_and_columns(df):
    """
        Description:
            Counts the number of rows and columns in the DataFrame.

        Parameters:
            df : The DataFrame containing the data.

        Returns:
            tuple: A tuple containing the number of rows and the number of columns.
    """
    rows, columns = df.shape
    return rows, columns

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    rows, columns = count_rows_and_columns(df)

    print("The number of rows in the data:", rows)
    print("The number of columns in the data:", columns)

if __name__ == "__main__":
    main()

The No of rows in data 10
The No of columns in data 4

12.Python program to select the rows where the score is missing, i.e. is NaN.

In [19]:
import pandas as pd
import numpy as np

def select_rows_with_missing_scores(df):
    """
        Description:
            Selects rows from the DataFrame where the 'score' column contains NaN (missing) values.

        Parameters:
            df: The DataFrame containing the data.

        Returns:
             A DataFrame containing only the rows where the 'score' column is NaN.
    """
    return df[df['score'].isna()]

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    missing_scores = select_rows_with_missing_scores(df)

    print(missing_scores)

if __name__ == "__main__":
    main()

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

13.Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [21]:
def select_rows_attempts_less_than_2_score_greater_than_15(df):
    """
        Description:
            Selects rows from the DataFrame where the number of attempts is less than 2 and the score is greater than 15.

        Parameters:
            df: The DataFrame containing the data.

        Returns:
            A DataFrame containing only the rows where 'attempts' is less than 2 and 'score' is greater than 15.
    """
    return df[(df['attempts'] < 2) & (df['score'] > 15)]

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    filtered_rows = select_rows_attempts_less_than_2_score_greater_than_15(df)

    print(filtered_rows)

if __name__ == "__main__":
    main()

    name  score  attempts qualify
j  Jonas   19.0         1     yes

14.Python program to change the score in row 'd' to 11.5.

In [23]:
def update_score_in_row_d(df, new_score):
    """
        Description:
            Updates the score in row 'd' of the DataFrame to the specified new_score.

        Parameters:
            df: The DataFrame containing the data.
            new_score: The new score to be set for row 'd'.

        Returns:
            The DataFrame with the updated score in row 'd'.
    """
    df.at['d', 'score'] = new_score
    return df

def main():
 
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    print(df)

    df = update_score_in_row_d(df, 11.5)

    print(df)

if __name__ == "__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

15.Write a Python program to calculate the sum of the examination attempts by the students.

In [28]:
def calculate_sum_of_attempts(df):
    """
        Description:
            Calculates the sum of the examination attempts by the students.

        Parameters:
            df: The DataFrame containing the data.

        Returns:
            The sum of the examination attempts.
    """
    return df['attempts'].sum()

def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    total_attempts = calculate_sum_of_attempts(df)

    print("The sum of the examination attempts is:", total_attempts)

if __name__ == "__main__":
    main()

The sum of the examination attempts is: 19

16.Python program to calculate the mean score for each different student in DataFrame.

In [31]:
def calculate_mean_score(df):
    """
        Description:
            Calculates the mean score for each student in the DataFrame.

        Parameters:
            df : The DataFrame containing the data.

        Returns:
            pd.Series: A Series with student names as index and their mean scores as values.
    """
    return df['score'].mean()

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

 
    mean_score = calculate_mean_score(df)

    
    print("The mean score for the students is:", mean_score)

if __name__ == "__main__":
    main()

The mean score for the students is: 13.5625

17.Python program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.

In [2]:
def append_and_remove_row(df, row_label, row_data):
    """
        Description:
            Appends a new row to the DataFrame and then deletes it, returning the original DataFrame.

        Parameters:
            df : The original DataFrame.
            row_label : The label for the new row.
            row_data : A dictionary containing the data for the new row.

        Returns:
            The original DataFrame after appending and removing the new row.
    """
    df.loc[row_label] = row_data
    
    print("DataFrame after appending the new row:")
    print(df, "\n")
    
    df = df.drop(row_label)
    
    return df

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    new_row_label = 'k'
    new_row_data = {
        'name': 'Suresh',
        'score': 15.5,
        'attempts': 1,
        'qualify': 'yes'
    }

    original_df = append_and_remove_row(df, new_row_label, new_row_data)

    print("Original DataFrame after removing the new row:")
    print(original_df)

if __name__ == "__main__":
    main()

DataFrame after appending the new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

Original DataFrame after removing the new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

18.Write a Python program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [3]:
def sort_dataframe(df):
    """
        Description:
            Sorts the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

        Parameters:
            df: The DataFrame to be sorted.

        Returns:
            The sorted DataFrame.
    """
    sorted_df = df.sort_values(by=['name', 'score'], ascending=[False, True])
    return sorted_df

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    sorted_df = sort_dataframe(df)

    print("Sorted DataFrame:")
    print(sorted_df)

if __name__ == "__main__":
    main()

Sorted DataFrame:
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

19.Write a Python program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [7]:
import pandas as pd
import numpy as np

def replace_qualify_values(df):
    """
        Description:
            Replaces the 'qualify' column values 'yes' and 'no' with True and False.

        Parameters:
            df: The DataFrame in which the 'qualify' column values will be replaced.

        Returns:
            The DataFrame with updated 'qualify' column values.
    """
    df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})
    return df

def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    updated_df = replace_qualify_values(df)

    print("Updated DataFrame:")
    print(updated_df)

if __name__ == "__main__":
    main()

Updated DataFrame:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

C:\Users\Jayesh\AppData\Local\Temp\ipykernel_3336\3419117016.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

20.Python program to delete the 'attempts' column from the DataFrame.

In [13]:
def delete_attempts_column(df):
    """
        Description:
            Deletes the 'attempts' column from the DataFrame.

        Parameters:
            df: The DataFrame from which the 'attempts' column will be deleted.

        Returns:
            The DataFrame after deleting the 'attempts' column.
    """
    df = df.drop(columns=['attempts'])
    return df

def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)
    updated_df = delete_attempts_column(df)
    print("DataFrame after deleting 'attempts' column:")
    print(updated_df)

if __name__ == "__main__":
    main()

DataFrame after deleting 'attempts' column:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

21.Python program to insert a new column in existing DataFrame.

In [17]:
def insert_new_column(df, column_name, data, position=None):
    """
        Description:
            Inserts a new column into the DataFrame at the specified position.

        Parameters:
            df (pd.DataFrame): The DataFrame where the new column will be inserted.
            column_name (str): The name of the new column to be added.
            data (list): The data for the new column.
            position (int, optional): The position where the new column should be inserted.
                                      If None, the column will be added at the end.

        Returns:
            The DataFrame with the new column added.
    """
    if position is not None:
        df.insert(position, column_name, data)
    else:
        df[column_name] = data
    return df

def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    new_column_data = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

    updated_df = insert_new_column(df, 'grade', new_column_data)

    print("DataFrame after inserting new column 'grade':")
    print(updated_df)

if __name__ == "__main__":
    main()

DataFrame after inserting new column 'grade':
        name  score  attempts qualify grade
a  Anastasia   12.5         1     yes     A
b       Dima    9.0         3      no     B
c  Katherine   16.5         2     yes     C
d      James    NaN         3      no     D
e      Emily    9.0         2      no     E
f    Michael   20.0         3     yes     F
g    Matthew   14.5         1     yes     G
h      Laura    NaN         1      no     H
i      Kevin    8.0         2      no     I
j      Jonas   19.0         1     yes     J

22.Python program to iterate over rows in a DataFrame.

In [19]:
import pandas as pd
import numpy as np

def iterate_over_rows(df):
    """
        Description:
            Iterate over the rows of the DataFrame and print each row's index and data.

        Parameters:
            df: The DataFrame to iterate over.

        Returns:
                 None
    """
    for index in df.index:
        print(f"Index: {index}")
        print(df.loc[index])
        print("-" * 40)

def main():

    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    df = pd.DataFrame(exam_data, index=labels)

    iterate_over_rows(df)

if __name__ == "__main__":
    main()

Index: a
name        Anastasia
score            12.5
attempts            1
qualify           yes
Name: a, dtype: object
----------------------------------------
Index: b
name        Dima
score        9.0
attempts       3
qualify       no
Name: b, dtype: object
----------------------------------------
Index: c
name        Katherine
score            16.5
attempts            2
qualify           yes
Name: c, dtype: object
----------------------------------------
Index: d
name        James
score         NaN
attempts        3
qualify        no
Name: d, dtype: object
----------------------------------------
Index: e
name        Emily
score         9.0
attempts        2
qualify        no
Name: e, dtype: object
----------------------------------------
Index: f
name        Michael
score          20.0
attempts          3
qualify         yes
Name: f, dtype: object
----------------------------------------
Index: g
name        Matthew
score          14.5
attempts          1
qualify         yes
Name: g, dtype: object
----------------------------------------
Index: h
name        Laura
score         NaN
attempts        1
qualify        no
Name: h, dtype: object
----------------------------------------
Index: i
name        Kevin
score         8.0
attempts        2
qualify        no
Name: i, dtype: object
----------------------------------------
Index: j
name        Jonas
score        19.0
attempts        1
qualify       yes
Name: j, dtype: object
----------------------------------------

23.Python program to get list from DataFrame column headers.

In [18]:
def get_column_headers(df):
    """
        Description:
            Returns a list of column headers from the DataFrame.

        Parameters:
            df : The DataFrame from which to extract column headers.

        Returns:
            A list of column headers.
    """
    return list(df.columns)

def main():
    exam_data = {
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 15, 9, 20, 14.5, 18, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }

    df = pd.DataFrame(exam_data)

    headers = get_column_headers(df)
    print("Column Headers:", headers)

if __name__ == "__main__":
    main()

Column Headers: ['name', 'score', 'attempts', 'qualify']